
<label for="titel">
	<f:translate key="tx_lyrics_domain_model_lyrics.titel" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="text">
	<f:translate key="tx_lyrics_domain_model_lyrics.text" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="vlabel">
	<f:translate key="tx_lyrics_domain_model_lyrics.vlabel" />
</label><br />
	<f:form.textfield property="vlabel" /><br />
<label for="author">
	<f:translate key="tx_lyrics_domain_model_lyrics.author" />
</label><br />
	<f:form.textfield property="author" /><br />
<label for="composer">
	<f:translate key="tx_lyrics_domain_model_lyrics.composer" />
</label><br />
	<f:form.textfield property="composer" /><br />
<label for="time">
	<f:translate key="tx_lyrics_domain_model_lyrics.time" />
</label><br />
	<f:form.textfield property="time" /><br />
<label for="hasTranslation">
	<f:translate key="tx_lyrics_domain_model_lyrics.has_translation" />
</label><br />
	<f:form.checkbox property="hasTranslation" value="1" /><br />
<label for="translatedTitle">
	<f:translate key="tx_lyrics_domain_model_lyrics.translated_title" />
</label><br />
	<f:form.textfield property="translatedTitle" /><br />
<label for="translatedText">
	<f:translate key="tx_lyrics_domain_model_lyrics.translated_text" />
</label><br />
	<f:form.textarea property="translatedText" cols="40" rows="15" /><br />
<label for="translator">
	<f:translate key="tx_lyrics_domain_model_lyrics.translator" />
</label><br />
	<f:form.textfield property="translator" /><br />