
<label for="name">
	<f:translate key="tx_lyrics_domain_model_artists.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_lyrics_domain_model_artists.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="biographie">
	<f:translate key="tx_lyrics_domain_model_artists.biographie" />
</label><br />
	<f:form.textarea property="biographie" cols="40" rows="15" /><br />
<label for="isActive">
	<f:translate key="tx_lyrics_domain_model_artists.is_active" />
</label><br />
	<f:form.checkbox property="isActive" value="1" /><br />