
<table class="tx-lyrics" >
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.titel" />
		</td>
		<td>
		{lyrics.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.text" />
		</td>
		<td>
		{lyrics.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.vlabel" />
		</td>
		<td>
		{lyrics.vlabel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.author" />
		</td>
		<td>
		{lyrics.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.composer" />
		</td>
		<td>
		{lyrics.composer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.time" />
		</td>
		<td>
		{lyrics.time}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.has_translation" />
		</td>
		<td>
		{lyrics.hasTranslation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.translated_title" />
		</td>
		<td>
		{lyrics.translatedTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.translated_text" />
		</td>
		<td>
		{lyrics.translatedText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lyrics_domain_model_lyrics.translator" />
		</td>
		<td>
		{lyrics.translator}
		</td>
	</tr>
</table>