<table class="tx-lyrics">
    <tr>
        <td>
            <f:translate key="tx_lyrics_domain_model_artists.name"/>
        </td>
        <td>
            {artists.name}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_lyrics_domain_model_artists.description"/>
        </td>
        <td>
            {artists.description}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_lyrics_domain_model_artists.biographie"/>
        </td>
        <td>
            {artists.biographie}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_lyrics_domain_model_artists.is_active"/>
        </td>
        <td>
            {artists.isActive}
        </td>
    </tr>
</table>